/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');
:root {
    --primary-color:#ffc107; 
    --secondary-color: #dfceba;
    --text-color: #af9666;
    --green: rgb(9, 121, 105);
    
}  
body{ 
    /*background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(255, 193, 7, 1) 40%, rgba(220, 169, 14, 1) 100%);
*/
 background: #dfceba;
}
*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

html,button{
    font-family: "Robot", "sans-serif";
}
.logo{
    padding: 3rem 1rem;
    border-radius: 20% 20% 20% 20% /20% 20% 20% 20%;
    background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(255, 193, 7, 1) 40%, rgba(220, 169, 14, 1) 100%);
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}